<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to easy2repair.com, <%= @user.first_name %></h1>
    <p>
      You have successfully Request an issue.
      Our engineer will contact you.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>