<div class="container">
<h1 style='color:#ff0606;'>Listing Bills</h1>

<table class="table" style="color:#f0f0f0;font-size:24px;">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Action</th>
      
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <!-- (:issue => assignment.issue_id) -->
        <td><%= bill.amount %></td>
        <td><%= bill.tax %></td>
        <td><%= bill.total %></td>
        <!-- <td><%#= link_to 'Show', bill %></td> -->
        <td><%= link_to 'Edit', edit_bill_path(bill), class: "btn btn-primary" %></td>
        <!-- <td><%#= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%#= link_to 'New Bill', new_bill_path %>
